<%- include('../includes/header-sigin.ejs') %>
<section class="section" id="login-form-container">
    <div class="container is-centered" id="siginin-form">
        <div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-black is-rounded" type="email" placeholder="Email input" value="hello@">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas "></i>
                        <!-- <i class="fas fa-exclamation-triangle"></i> -->
                    </span>
                </div>
                <!-- <p class="help is-black">This email is invalid</p> -->
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-black is-rounded" type="password" placeholder="Text input" value="bulma">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                    </span>
                </div>
                <!-- <p class="help is-success">This username is available</p> -->
            </div>



            <!-- <div class="field">
                                <div class="control">
                                    <label class="checkbox">
                                        <input type="checkbox">
                                        I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                
                            <div class="field">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" name="question">
                                        Yes
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="question">
                                        No
                                    </label>
                                </div>
                            </div> -->

            <div class="has-text-centered">
                <div class="control is-centered">
                    <button class="button is-black is-rounded ">Submit</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</body>

</html>